.bgImage {
  background-image: url('pic6.jpg');
  filter: blur(8px);
}

.welcome {
  position: absolute;
  z-index: 1;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contactDetails, .openingHours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  text-align: center;
  padding: 20px;
}

h1 {
    font-size: 3rem;
}


/* Carousel */
.first {
    background-image: url('pic1.jpg');
  }
  
.second {
  background-image: url('pic2.jpg');
}

.third {
  background-image: url('pic3.jpg');
}

.fourth {
  background-image: url('pic4.jpg');
}
.fifth {
  background-image: url('pic5.jpg');
}

.sixth {
  background-image: url('pic6.jpg');
}

.seventh {
  background-image: url('pic7.jpg');
}

.eigth {
  background-image: url('pic8.jpg');
}
  
.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eigth,
.bgImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}


/* Responsiveness */

@media (min-width: 769px) {
  .carousel, .contactAndHours {
    width: 50vw;
  }

  .welcome { 
    width: 40vw;
  }

  .text {
    grid-area: a;
    padding: 100px 200px;
    line-height: 40px;
  }

  .carousel {
    grid-area: b;
  }

  .contactAndHours {
    grid-area: c;
  }

  .info {
    display: grid;
    grid-template-areas: 
        "a a"
        "b c"
    ;
  }
}